/* VARIABLES */
:root {
    --video-section-bgcolor: #000000;
    --command-section-color: #222222;
    --command-quitbg-color: #4A4A4A;
    --command-sharescr-color: #4BC800;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.pos-rel {
    position: relative;
    height: 100%;
}
/* GENERAL */
.window-call {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* COMMON */

.flex {
    display: flex;
}

.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* .arrow i {
    font-size: 1rem;
} */

/* MAIN */
/* Video Section */
.video-section {
    height: 92%;
    padding: 70px 60px 30px 60px;
    background-color: var(--video-section-bgcolor);
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: red;
}

.col {
    width: calc(100% / 7);
    height: calc(100% / 5);
    padding: 10px 5px 10px 5px;
    /* debug */
    background-color: grey;
    border: 1px solid #4BC800;
}

.video {
    width: 100%;
    height: 100%;
    position: relative;
    /* debug */
    background-color: #000000;
}
/* Command Section */
.command-section {
    width: 100%;
    height: 8%;
    background-color: var(--command-section-color);
    position: relative;

}

.main-command {
    width: 15%;
    height: 100%;
}

.room-command {
    width: 50%;
    height: 100%;
    /* debug */
    background-color: yellow;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.quit-command {
    width: 6%;
    height: 100%;
    /* debug */
    background-color: var(--command-quitbg-color);
    position: absolute;
    top: 0;
    right: 0;
}

/* Main-command */

.main-command ul {
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

i {
    font-size: 1.6rem;
}

.command-section .command-name {
    font-size: .8rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.command-section .arrow i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-size: 1rem;
}

.mic-command {
    /* debug */
    color: white;
    width: 40%;
    height: 80%;
    text-align: center;
    line-height: 100%;
}

.camera-command {
    /* debug */
    text-align: center;
    color: white;
    width: 60%;
    height: 80%;
}


/* Room-command */
.room-command ul {
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.box {
    width: calc(100% / 9);
    height: 80%;
    background-color: white;
}

/* Quit-command */

.quit-command a {
    display: inline-block;
    font-size: .85rem;
    color: red;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quit-command:hover a {
    text-decoration: underline;
}